@CHARSET "UTF-8";
body {
	position: relative;
	color: black;
 	background-color: black;
	margin: 2em;
  	font-family: Georgia, "Times New Roman", Times, serif;
}
p {
	text-align: left;
}
h1 {
	text-align: left;
	color: black;
	font-family: "Book Antiqua";
}
div.header {
	color: white;
	background-color:#FF7d09;
	margin-bottom: 2%;
	padding: 1%;
}
div.left_col {
	background-color: #dddddd;
	width: 10%;
	height: 250px;
	padding: 1%;
	float: left;
}
div.right_col {
	background-color: #dddddd;
	width: 50%;
	height: 250px;
	margin-left: 2%;
	padding: 1%;
	float: left;
}
div.bottom {
	background-color: #FF7d09;
	width: 98%;
	height: 20%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 1%;
	float: left;
}
#scheme {
	text-align: center;
	background-color: #aaaaaa;
	width: 30%;
	height: 250px;
	margin-left: 2%;
	padding: 1%;
	float: left;
}
table {
	text-align: center;
	width: 50%;
	background-color: white;
	border-collapse: collapse;
	border: 1px dashed black;
}
td { 
    padding: 5px;
    border: 1px dashed black;
}